<html xmlns:th="http://www.thymeleaf.org" lang="en">

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials.html :: head ('Partials Example')"></head>
<body>
    <nav th:replace="partials/partials.html :: navbar"></nav>
    <h1>Welcome to the website.</h1>

    <header th:replace="partials/partials.html :: header"></header>

    <footer th:replace="partials/partials.html :: footer"></footer>

<script th:replace="partials/partials.html :: bootstrap-js"></script>
</body>
</html>